*                             @centreon/owners-php

.github/**                    @centreon/owners-pipelines

.gitleaks.toml                @centreon/owners-security
.gitleaksignore               @centreon/owners-security
**/security-checks.yml        @centreon/owners-security
