docs/*.cache
docs/*.fot
docs/Makefile
docs/config.*
docs/configure
docs/diff
docs/dsssl/html-common.dsl
docs/entities/version.ent
docs/html
docs/manual.xml
docs/phpweb
docs/scripts/file-entities.php
/templates_c
