language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

services:
  - memcached
  - mysql

before_script:
    - if [ ${TRAVIS_PHP_VERSION:0:3} != "5.2" ]; then travis_retry composer --prefer-source --dev install; fi
    - if [ ${TRAVIS_PHP_VERSION:0:3} <= "5.6" ]; then  phpenv config-add travis.ini; fi
    - mysql -e "create database IF NOT EXISTS test;" -uroot

install:
   - git clone --depth=50 --branch v3.1.30 git://github.com/smarty-php/smarty-phpunit.git

script:
   - cd smarty-phpunit
   - phpunit ./

