<phpunit
        bootstrap="Bootstrap.php"
        colors="true"
        backupGlobals="false"
        backupStaticAttributes="true"
        processIsolation="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        beStrictAboutOutputDuringTests="true"
        stopOnFailure="false">

    <filter>
        <testsuites>
            <testsuite name="Smarty Test Suite">
                <directory>UnitTests</directory>
            </testsuite>
        </testsuites>
        <blacklist>
            <directory suffix=".php">./</directory>
            <directory suffix=".php">cache</directory>
            <directory suffix=".php">templates_c</directory>
        </blacklist>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../smarty/libs</directory>
            <directory suffix=".php">../smarty/libs/plugins</directory>
            <directory suffix=".php">../smarty/libs/sysplugins</directory>
            <directory suffix=".php">../smarty/demo/plugins</directory>
        </whitelist>
    </filter>
    <logging>
        highlight="false" lowUpperBound="35" highLowerBound="70"/>
        <log type="tap" target="TestResults.tap"/>
    </logging>

</phpunit>
